In [1]:
import numpy as np
import pandas as pd

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").appName("logistic_regression").getOrCreate()

In [3]:
filename = "./bank-full.csv"
data = spark.read.csv(filename, header=True, inferSchema=True, sep=";")
data.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown| no|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown| no|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown| no|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown| no|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown| no|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown| no|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown| no|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown| no|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown| no|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown| no|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown| no|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown| no|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown| no|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0| unknown| no|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

In [4]:
data.dtypes

[('age', 'int'),
 ('job', 'string'),
 ('marital', 'string'),
 ('education', 'string'),
 ('default', 'string'),
 ('balance', 'int'),
 ('housing', 'string'),
 ('loan', 'string'),
 ('contact', 'string'),
 ('day', 'int'),
 ('month', 'string'),
 ('duration', 'int'),
 ('campaign', 'int'),
 ('pdays', 'int'),
 ('previous', 'int'),
 ('poutcome', 'string'),
 ('y', 'string')]

In [5]:
from pyspark.sql.functions import when, col, lit
data1 = data.withColumn("y1", when(data["y"] == "yes", lit(1)).otherwise(lit(0)))

In [6]:
data1.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+---+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y| y1|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+---+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|  0|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|  0|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|  0|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|  0|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|  0|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown| no|  0|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown| no|  0|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown| no|  0|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|  0|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown| no|  0|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown| no|  0|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown| no|  0|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown| no|  0|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown| no|  0|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown| no|  0|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown| no|  0|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown| no|  0|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown| no|  0|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown| no|  0|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0| unknown| no|  0|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+---+
only showing top 20 rows

In [7]:
#stringの処理
from pyspark.ml.feature import StringIndexer
default_index = StringIndexer(inputCol="default", outputCol="default_index")

In [8]:
#assemble
from pyspark.ml.feature import VectorAssembler
assemble = VectorAssembler(inputCols=["age", "balance", "duration", "campaign", "previous", "default_index"],\
                          outputCol="features")

In [9]:
#normalize
from pyspark.ml.feature import StandardScaler
scaler = StandardScaler(inputCol="features", outputCol="scaled_features")

In [10]:
#logistic regression
from pyspark.ml.classification import LogisticRegression
logistic_regression = LogisticRegression(featuresCol="scaled_features", labelCol="y1")

In [11]:
#pipeline
from pyspark.ml import Pipeline
pipeline = Pipeline(stages=[default_index, assemble, scaler, logistic_regression])

In [12]:
df = data1.select("age", "balance", "duration", "campaign", "previous", "default", "y", "y1")

In [13]:
#split train data and test data
train_df, test_df = df.randomSplit([0.7, 0.3], seed=123456)

In [14]:
#modeling by using train data
fit_model = pipeline.fit(train_df)

In [15]:
#confirm the result of modeling
fit_model.stages[3].coefficients

DenseVector([0.0548, 0.1078, 0.9143, -0.4013, 0.3048, -0.0537])

In [16]:
#predict the targets of train data
pred_train = fit_model.transform(train_df)

In [17]:
pred_train.show()

+---+-------+--------+--------+--------+-------+---+---+-------------+--------------------+--------------------+--------------------+--------------------+----------+
|age|balance|duration|campaign|previous|default|  y| y1|default_index|            features|     scaled_features|       rawPrediction|         probability|prediction|
+---+-------+--------+--------+--------+-------+---+---+-------------+--------------------+--------------------+--------------------+--------------------+----------+
| 18|      5|     143|       2|       0|     no| no|  0|          0.0|[18.0,5.0,143.0,2...|[1.69618976559234...|[2.91255708620734...|[0.94846369913306...|       0.0|
| 18|     35|     104|       2|       0|     no| no|  0|          0.0|[18.0,35.0,104.0,...|[1.69618976559234...|[3.05047473111548...|[0.95480301758925...|       0.0|
| 18|    108|      92|       1|       1|     no|yes|  1|          0.0|[18.0,108.0,92.0,...|[1.69618976559234...|[2.83710186438638...|[0.94464811949149...|       0.0|
| 18|    108|     167|       1|       0|     no|yes|  1|          0.0|[18.0,108.0,167.0...|[1.69618976559234...|[2.69335684771441...|[0.93663350679942...|       0.0|
| 18|    108|     169|       1|       0|     no|yes|  1|          0.0|[18.0,108.0,169.0...|[1.69618976559234...|[2.68622916112079...|[0.93620915130716...|       0.0|
| 18|    156|     298|       2|       4|     no| no|  0|          0.0|[18.0,156.0,298.0...|[1.69618976559234...|[1.86059149305365...|[0.86536587648256...|       0.0|
| 18|    348|     443|       4|       0|     no|yes|  1|          0.0|[18.0,348.0,443.0...|[1.69618976559234...|[2.09111803678869...|[0.89003689698726...|       0.0|
| 18|    608|     210|       1|       1|     no|yes|  1|          0.0|[18.0,608.0,210.0...|[1.69618976559234...|[2.39869762757175...|[0.91672793716939...|       0.0|
| 18|    608|     267|       1|       0|     no|yes|  1|          0.0|[18.0,608.0,267.0...|[1.69618976559234...|[2.31910179024237...|[0.91044673349406...|       0.0|
| 18|   1944|     122|       3|       0|     no| no|  0|          0.0|[18.0,1944.0,122....|[1.69618976559234...|[3.04808174251132...|[0.95469963758097...|       0.0|
| 19|      0|      72|       4|       0|     no| no|  0|          0.0|[19.0,0.0,72.0,4....|[1.79042253034747...|[3.42058237719273...|[0.96834162991507...|       0.0|
| 19|      0|     123|       3|       0|     no| no|  0|          0.0|[19.0,0.0,123.0,3...|[1.79042253034747...|[3.10883973961087...|[0.95725590654450...|       0.0|
| 19|      4|     114|       1|       0|     no| no|  0|          0.0|[19.0,4.0,114.0,1...|[1.79042253034747...|[2.88079810457077...|[0.94688901476554...|       0.0|
| 19|     55|      89|       2|       1|     no| no|  0|          0.0|[19.0,55.0,89.0,2...|[1.79042253034747...|[2.97451477161207...|[0.95140941867893...|       0.0|
| 19|     60|     253|       1|       0|     no| no|  0|          0.0|[19.0,60.0,253.0,...|[1.79042253034747...|[2.38342236480155...|[0.91555440938846...|       0.0|
| 19|    103|      96|       2|       2|     no| no|  0|          0.0|[19.0,103.0,96.0,...|[1.79042253034747...|[2.82430904807766...|[0.94397539056439...|       0.0|
| 19|    103|     104|       2|       0|     no|yes|  1|          0.0|[19.0,103.0,104.0...|[1.79042253034747...|[3.04288476288078...|[0.95447434548806...|       0.0|
| 19|    103|     177|       2|       4|     no| no|  0|          0.0|[19.0,103.0,177.0...|[1.79042253034747...|[2.28855127985842...|[0.90792441198557...|       0.0|
| 19|    108|     273|       2|       1|     no|yes|  1|          0.0|[19.0,108.0,273.0...|[1.79042253034747...|[2.31687330785314...|[0.91026487130283...|       0.0|
| 19|    179|      62|       3|       0|     no| no|  0|          0.0|[19.0,179.0,62.0,...|[1.79042253034747...|[3.31983646016711...|[0.96510308400932...|       0.0|
+---+-------+--------+--------+--------+-------+---+---+-------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [18]:
pred_train.select("rawPrediction", "Probability").show(truncate=False)

+----------------------------------------+-----------------------------------------+
|rawPrediction                           |Probability                              |
+----------------------------------------+-----------------------------------------+
|[2.9125570862073435,-2.9125570862073435]|[0.9484636991330693,0.05153630086693073] |
|[3.0504747311154827,-3.0504747311154827]|[0.9548030175892533,0.045196982410746656]|
|[2.83710186438638,-2.83710186438638]    |[0.9446481194914953,0.0553518805085047]  |
|[2.693356847714414,-2.693356847714414]  |[0.9366335067994203,0.06336649320057974] |
|[2.686229161120793,-2.686229161120793]  |[0.9362091513071605,0.06379084869283946] |
|[1.8605914930536533,-1.8605914930536533]|[0.8653658764825606,0.13463412351743942] |
|[2.091118036788695,-2.091118036788695]  |[0.8900368969872618,0.10996310301273815] |
|[2.3986976275717513,-2.3986976275717513]|[0.9167279371693962,0.08327206283060384] |
|[2.31910179024237,-2.31910179024237]    |[0.910446733494069,0.08955326650593098]  |
|[3.0480817425113247,-3.0480817425113247]|[0.9546996375809744,0.045300362419025575]|
|[3.4205823771927344,-3.4205823771927344]|[0.9683416299150748,0.031658370084925225]|
|[3.108839739610877,-3.108839739610877]  |[0.9572559065445037,0.042744093455496346]|
|[2.880798104570774,-2.880798104570774]  |[0.9468890147655408,0.05311098523445923] |
|[2.974514771612077,-2.974514771612077]  |[0.9514094186789319,0.04859058132106808] |
|[2.383422364801554,-2.383422364801554]  |[0.9155544093884611,0.08444559061153889] |
|[2.8243090480776645,-2.8243090480776645]|[0.9439753905643957,0.05602460943560428] |
|[3.0428847628807887,-3.0428847628807887]|[0.9544743454880654,0.04552565451193458] |
|[2.288551279858427,-2.288551279858427]  |[0.9079244119855706,0.09207558801442939] |
|[2.3168733078531414,-2.3168733078531414]|[0.9102648713028341,0.08973512869716593] |
|[3.3198364601671186,-3.3198364601671186]|[0.9651030840093285,0.03489691599067146] |
+----------------------------------------+-----------------------------------------+
only showing top 20 rows

In [19]:
data1.withColumn("duration_label", when(df["duration"] >= 365, "long")\
                                    .when(df["duration"] <))

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+---+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y| y1|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+---+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|  0|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|  0|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|  0|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|  0|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|  0|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown| no|  0|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown| no|  0|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown| no|  0|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|  0|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown| no|  0|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown| no|  0|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown| no|  0|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown| no|  0|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown| no|  0|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown| no|  0|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown| no|  0|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown| no|  0|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown| no|  0|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown| no|  0|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0| unknown| no|  0|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+---+
only showing top 20 rows